<%= form_with model: @expense do |form| %>  
  <% if @expense.errors.any? %>    
    <% @expense.errors.full_messages.each do |message| %>
      <p class="text-red-500 text-xs lowercase">
        ** <%= message %>
      </p>
    <% end %>  
  <% end %>
  
  <div class="flex flex-col gap-2">
    <div>
      <%= form.label "Date:" %>
      <%= form.date_field :date %>
    </div>

    <div>
      <%= form.label "Expense Item:" %>
      <%= form.text_field :expense_item %>
    </div>

    <div>
      <%= form.label "Amount:" %>
      <%= form.text_field :amount %>
    </div>

    <div>
      <%= form.label "Remarks:" %>
      <%= form.text_field :remarks %>
    </div>

    <%= form.button "Submit", class: "btn__primary" %>
    <%= link_to "Home", expenses_path, class: "btn__primary" %>
  </div>  
<% end %>