<div class="w-full flex flex-col gap-4 items-center">
  <p class="font-bold text-fSize__lg text-stone-900">
    Total:
    <%= number_to_currency(@total_amount, precision: 2, unit: "PHP ") %>
  </p>

  <div class="w-full h-auto border-4 border-stone-950 rounded-xl shadow-retro__dark divide-y-2 divide-stone-600 divide-dashed">  
      <% @expenses.each do |expense| %>
        <div class="flex flex-col justify-center gap-1 px-4 py-2 text-xs font-bold">
          <div class="flex justify-between items-center">
            <div class="flex flex-col justify-center text-pretty overflow-hidden max-h-[80px] max-w-[220px]">
            <%= content_tag(:span, expense.date, class: "text-[0.55rem] font-light") %>
            <% month = expense.date.beginning_of_month %>
            <%= link_to expense.expense_item, expenses_month_path(month: month), class:"font-bold text-sm" %>
            </div>
            <div class="flex gap-4">
              <div class="text-sm text-gray-900 p-2 rounded-lg border-2 hover:border-stone-800">
                <%= link_to edit_expense_path(expense) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
              </div>
              <div class="text-sm text-gray-900 p-2 rounded-lg border-2 hover:border-red-500">
                <%= link_to expense_path(expense), data: { turbo_method: :delete, turbo_confirm: "Do you want to permanently delete this expense item?" } do %>
                  <i class="fas fa-trash-alt text-red-500"></i>
                <% end %>
              </div>
            </div>
          </div>

          <%= number_to_currency(expense.amount, precision: 2, unit: "₱ ") %>     

          <div class="mt-2 text-[0.6rem] font-light">
            <p class="truncate max-h-[80px] max-w-[220px] whitespace-normal">
              <%= expense.remarks.blank? ? "" : "** #{expense.remarks}" %>
            </p>
            
          </div>
        </div>
      <% end %>
  </div>
</div>